<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CCKS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
</head>
<body class="bg-success">

<div class="container-fluid">
    <div class="row">


        <div class="col-md-12">
            <div class="panel panel-default col-md-8 col-md-offset-2 blog-main" style="margin-top: 50px">
                <div class="panel-heading">

                    <div class="row" style="text-align: center">
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn btn-primary">Left</button>
                            <button type="button" class="btn btn-success">Middle</button>
                            <button type="button" class="btn btn-info">Right</button>
                            <button type="button" class="btn btn-warning">Right</button>
                            <button type="button" class="btn btn-danger">Right</button>
                        </div>
                    </div>

                </div>
                <div class="panel-body" style="text-align: center">
                    <strong class="text-primary"></strong>
                    缘于入院前1月余因“<strong class="text-primary">胆石症</strong>、<strong class="text-primary">急性胆囊炎</strong>”就诊我院，<strong class="text-primary">下腹部CT</strong>示：1、<strong class="text-primary">胆总管上段多发结石</strong>，伴肝内外胆管扩张。2、急性胆囊炎，胆囊多发结石。入院后予抗感染，保肝，抑制胰酶分泌，营养支持等治疗，于2014.01.16在B超定位上行“胆囊穿刺造瘘术”，术顺，术后症状好转，家属要求出院。此次为行进一步治疗再次就诊我院，门诊拟“胆石症PTCD术后”收入院，自发病以来神志清，精神不振，饮食少，睡眠可，二便正常，体重未见明显增减。
                </div>


            </div>

        </div>
        <div class="col-md-8 col-md-offset-2">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="col-xs-6">实体</th>
                    <th class="col-xs-1">开始位置</th>
                    <th class="col-xs-1">结束位置</th>
                    <th ></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col-xs-6">
                        <input class="col-xs-12" value="胆石症">
                    </td>
                    <td class="col-xs-1">
                        <input class="col-md-12" value="10">
                    </td>
                    <td class="col-xs-1">
                        <input class="col-md-12" value="13">
                    </td>
                    <td style="text-align: center">
                        <button type="button" class="btn btn-success btn-sm">111</button>
                        <button type="button" class="btn btn-danger btn-sm">111</button>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>


</body>